.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: typing 5s steps(40, end), blink-cursor 0.75s step-end ;
  width: 0;
  animation-fill-mode: forwards;
}

@keyframes typing {
  to { width: 100%; }
}

@keyframes blink-cursor {
  from, to { border-color: transparent; }
  50% { border-color: currentColor; }
}

